
.blog-content{
    display: grid;
    grid-template-columns: minmax(40ch, 65ch);
    align-items: center;
    justify-content: center;
    margin: 1em 10%;
}

.blog-content > img {
    max-height: 400px;
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;

}
.blog-text {
    min-width: 100%;
    max-width: 300px;
}
.blog-text > h5 {
    margin-top: 0;
}

.blog-text > h2 {
    margin-bottom: 0px;
}
.blog-text > p {
    text-indent: 5%;
    font-size: 1em;
}

blockquote {
    font-family:'Playfair Display', serif;
    margin:2em 0;
    padding: 4em 2em;
    font-size: 1.2em;
    background: #cecece
}
